@page "/"

<h1>Hello, Welcome</h1>

<MudText Typo="Typo.h3"> Hamber Burger San Julian </MudText>

<MudText>
    En este Sitio Ofrecemos de Todo lo que necesitas para quitar tu hambre xd
</MudText>
<img src="/images/IMG-20220928-WA0002.jpg"   alt="siuuu" width="100%" />